body {
    background: #F2F4F4;
    padding-top: 60px;
    font-family: Roboto Mono;
}

h1 {
    font-family: Roboto;
    margin: 60px auto;
}

#slic {
    font-family: Allura;
    font-size: 2.5em;
    margin-right: 20px;
}

#insert {
    margin: 20px auto;
    width: 50%;
}

#tm input {
    max-width: 100px;
}

#options input {
    max-width: 100px;
}

#primersField {
    margin-top: 50px;
    display: none;
}

#primersInfo {
    margin-bottom: 30px;
    display: none;
}

#headerInfo {
    margin-bottom: 0.75em;
}



