body {
    background: #E7E5DF;
    padding-top: 60px;
    font-family: Roboto Mono;
}

h1 {
    font-family: Roboto;
    margin: 60px auto;
}

p {
    line-height: 1.5;
}

span.slic {
    font-family: Allura;
    font-size: 2.5em;
    margin-right: 0.25em;
}

#insert {
    margin: 20px auto;
    width: 50%;
    text-align: center;
}

#insert input {
    text-align: center;
}

#vec3 {
    text-align: right;
}

#vec3 input {
    text-align: right;
}

div.three.fields .field {
    max-height: 65px;
}

#conc input {
 max-width: 100px;
}

#tm input {
    max-width: 100px;
}

#options input {
    max-width: 100px;
}

i.wizard {
    padding-left: 10px;
}

.error.message {
    width: 70%;
    margin: 20px auto;
    display: none;
}

.warning.message {
    width: 50%;
    margin: 20px auto;
    display: none;
}

#primersField {
    margin-top: 20px;
    display: none;
}

#primersInfo {
    margin-bottom: 30px;
    display: none;
    color: black;
}

#primersInfo .header {
    margin-bottom: 0.75em;
    color: black;
}

#tmInfo {
    margin: 50px 0px
}

img {
    margin: 20px 0;
}

.infoButton {
    color: rgba(50, 50, 50, 0.5);
    cursor: pointer;
    transition: color ease-in-out 160ms;
}

.infoButton:hover {
    color: rgba(50, 50, 50, 0.9);
}

.infoButton.active {
    color: rgba(50, 50, 50, 0.9);
}

.ui.one .column.text {
    margin: 40px 40px;
    display: none;
}

.link {
    text-decoration: underline;
    color: #1A5276;
    cursor: pointer;
    transition: color ease-in-out 160ms;
}

.link:hover {
    text-decoration: none;
    color: #2471A3;
}

.ref {
    text-decoration: underline;
    color: #4A235A;
    cursor: pointer;
    transition: color ease-in-out 160ms;
}

.ref:hover {
    text-decoration: none;
    color: #7D3C98;
}

p.time {
    padding-left: 3em;
}

#footer {
    font-size: 0.8em;
    color: rgba(50, 50, 50, 0.9);
    text-align: center;
    margin: 50px 0;
}



